{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pantalla principal</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <script src="https://kit.fontawesome.com/e8c3e9bc8c.js" crossorigin="anonymous"></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'style/style.css' %}" />
  </head>

  <body>
    <style>
      #progress-done {
        height: 100%;
        width: {{porcentajeProgreso}}%;
        background: #fe7991;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 1s ease 0.3s;
      }
    </style>
    <div class="container_main">
      <div class="conteiner_header">
        <div class="mainHeader">
          <div class="header">
            <div class="header__nav">
              <div class="title">
                <h1>Training</h1>
                <h1>Follow-Up</h1>
              </div>
              <div class="margin-hamburger"> 
              </div>
            </div>
          </div>
        </div>
        <div class="card">
        {%if not hasALoggedDate%}
          <div class="card__container model_btn">
            <div class="card_container red">
              <div class="card_btn_container">
                <ion-icon name="add-outline" class="model_btn"></ion-icon>
              </div>
              <div class="card_text">
                <h1>Presione el botón</h1>
                <h5>Para añadir la duración de la cuota</h5>
              </div>
            </div>
          </div>
          {% else %}
          <div class="card__container model_btn">
            <div class="card_container blue">
              <div class="card_btn_container">
                <ion-icon name="create-outline" class="model_btn"></ion-icon>
              </div>
              <div class="card_text">
                <h1>Presione el botón</h1>
                <h5>Para editar la duración de la cuota</h5>
              </div>
            </div>
          </div>
          {% endif %}
          <div class="itemContainer">
            <div class="conteiner__bar">
              <div class="conteiner-barra-progresiva">
                <div class="progress">
                  <div id="progress-done" data-done="10"></div>
                </div>
                <div class="textContainer">
                  <div class="titles">
                    <div class="left">Han pasado ...</div>
                    <div class="right">Total de dias de tu cuota</div>
                  </div>
                  <div class="flexRow">
                    <div class="leftContainer">
                      <div class="leftItems">
                        <div class="days">{{diasCuota}} Dias</div>
                        <div class="percentage">
                          {{porcentajeProgreso}}% del total
                        </div>
                      </div>
                    </div>
                    <div class="rightContainer">
                      <div class="rightItems">
                        <div class="days">{{totalDiasCuota}}</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="mainContainer">
        <div class="body"></div>
      </div>
      <div class="filtro">
        <form method="POST" id="formulario">
          <div class="model_bg">
            <div class="modal">
              {% csrf_token %}
              <div class="wrapper">
                <h3 class="ingresar_title">Ingrese una Fecha</h3>
                <label for="datepicker">
                  <input type="text" name='fecha' id="datepicker" autocomplete="off" />
                </label>
                <button class="btn">Ingrese</div>

                <ion-icon name="close-outline" class="close-modal"></ion-icon>
              </div>
            </div>
          </div>
        </form>
      </div>
       <div class="navigation-container">
            <div class="navigation">
                <div class="container-rendimiento">
                <a href="{% url 'performance' %}">
                <i class="fas fa-dumbbell"></i>
                </a>
                </div>
                <div class="btn-home">
                <a href="{% url 'index' %}">
                    <div class="btn-deg">
                        <div class="container-home"><i class="fas fa-home"></i></div>
                    </div>
                </a>
                </div>
                <div class="container-user">
				<a href="{% url 'log-out' %}">
				<i class="fas fa-sign-out-alt"></i>
				</a>
				</div>
            </div>
        </div>
    </div>
    <script src="JavaScript/main.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
      integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
      crossorigin="anonymous"
    ></script>
    <script>
      let minDate = `{{fechaActual}}`;
      minDate = Date(minDate);
      $(function () {
        $("#datepicker").datepicker({
          dateFormat: "dd-mm-yy",
          duration: "fast",
          minDate: new Date(minDate),
        });
      });
    </script>
    <script src="{% static 'JavaScript/button-function.js' %}"></script>
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
